h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.adatok {
    display: inline-block;
    margin-right: 1em;
}

body {
    background-color: rgb(70, 65, 65);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(219, 219, 219);
    text-decoration: none;
}

#chatLink {
    margin-top: 2em;
}

button:hover {
    color: rgb(219, 219, 219);
}

button, #editGomb {
    background-color: tomato;
    color: white;
    border: tomato 3px solid;
    border-radius: 7px;
}

input {
    margin-top: 1em;
}

.content {
    margin-top: 2em;
    border: solid tomato 2px;
    border-radius: 10px;
    padding: 0.5em;
}